﻿
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<span id="LoginIndexLink"></span>
<div class="row">
    
    <div class="col-md-4 offset-4">
        <h2>Iniciar Sesión</h2>
        <br />
        <p id="ValidacionLink">@ViewBag.Validation</p>
        <form method="post" action="/Auth/Login">

            <div class="form-group">
                <label>Usuario</label>
                <input class="form-control" type="text" id="UsernameClic" name="Username" />
            </div>

            <div class="form-group">
                <label>Password</label>
                <input class="form-control" type="password" id="PasswordClic" name="Password" />
            </div>

            <button class="btn btn-primary" id="IniciarSesionClic">Iniciar Sesión</button>

        </form>
    </div>

</div>   