﻿@model BibliotecaUPN.Web.Models.Libro
@{
    ViewBag.Title = "Details";
}
<span id="DetailLibroIndexLink"></span>
<div class="container">
    @if (TempData["ErrorMessage"] != null)
    {
        <div id="ValicacionSuccesLink" class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }
    <div class="row">
        <div class="col-5 item-photo">
            <img style="max-width:100%;" src="@Model.Imagen" />
        </div>
        <div class="col-7" style="border:0px solid gray">
            <!-- Datos del vendedor y titulo del producto -->
            <h3>@Model.Nombre</h3>
            <h5>@Model.Autor.Nombres</h5>

            <div class="star-rating">
                <ul class="list-inline">
                    @for (var i = 0; i < Model.Puntaje; i++)
                    {
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                    }
                    @for (var i = 0; i < 5 - Model.Puntaje; i++)
                    {
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                    }
                </ul>
            </div>
            <!-- Detalles especificos del producto -->
            <div class="section">
                Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.

            </div>
            

           
        </div>
       
    </div>

    
</div>
<br />
<br />
<h3>Comentarios</h3>
<br />
<div class="container">
    <div class="row">
        @foreach (var item in Model.Comentarios)
        {
        <div class="col-12 my-2">
            <div class="card card-white post p-3">
                <div class="post-heading">
                    <div class="float-left image">
                        <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                    </div>
                    <div class="float-left meta">
                        <div class="title h5">
                            <a href="#"><b>@item.Usuario.Nombres</b></a>
                            hizo un comentario
                        </div>
                        <h6 class="text-muted time">@item.Fecha</h6>
                    </div>
                </div>
                <div class="post-description">
                    <p>@item.Texto</p>
                </div>
                <div class="post-footer">
                    <br />
                    <div class="float-right star-rating">
                        <ul class="list-inline">
                            @for (var i = 0; i < item.Puntaje; i++)
                            {
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            }
                            @for (var i = 0; i < 5 - item.Puntaje; i++)
                            {
                                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>       
        }
    </div>
</div>
<br />

<div class="container">
    <div class="row">
        <div class="col-12">
            <form action="/Libro/AddComentario" method="post">
                <input type="hidden" name="LibroId" value="@Model.Id" />

                <div class="form-group">
                    <label>Dejar Comentarios</label>
                    <textarea class="form-control" id="ComentarioClic" name="Texto" rows="5"></textarea>
                </div>
                <div class="form-group">
                    <label>Puntaje (1-5)</label>
                    <input type="text" name="Puntaje" id="PuntajeClic">
                </div>

                <button class="btn btn-primary" id="EnviarComentarioClic">Enviar</button>
            </form>
        </div>
    </div>
</div>
